---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics } from "@cv"
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    
  </main>
  
  <KeyboardManager />
</Layout>
<style>
  main {
    display: grid;
    margin: auto;
    max-width: 1200px;
    min-width: 10%;
  }
  @media (width >= 1400px) {
    main {
      padding: 1rem;
      background-color: rgb(18, 19, 19);
    }
    body {
      background-color: rgb(53, 53, 53);
      color: white;
    }
  }
  @media (width <= 800px) {
    main {
      padding: 1rem;
    }
  }
</style>
