<div class="footer no-print" transition:animate="none">
 Hecho con ❤️
</div>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    text-align: center;
    z-index: 100;
  }
</style>
